<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置处理静态资源的控制器 -->
    <mvc:default-servlet-handler />

    <!-- 开启 MVC 注解驱动 -->
    <mvc:annotation-driven />

    <!-- 配置组件扫描 -->
    <context:component-scan base-package="pers.prover07.crowd"/>

    <!-- 配置 SpringMVC 支持 multipart/form-data 类型的 POST 提交 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    </bean>

    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 配置异常解析器 -->
    <bean id="simpleMappingExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Exception">system/error</prop>
            </props>
        </property>
    </bean>

    <mvc:view-controller path="/login" view-name="admin/login" />
    <mvc:view-controller path="/main" view-name="admin/main" />
    <mvc:view-controller path="/admin/to/add" view-name="admin/add" />
    <mvc:view-controller path="/role/to/page" view-name="role/page" />
    <mvc:view-controller path="/menu/to/tree" view-name="menu/tree" />

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/login" />
            <mvc:exclude-mapping path="/admin/login" />
            <mvc:exclude-mapping path="/admin/logout" />
            <bean class="pers.prover07.crowd.interceptor.LoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
</beans>